*{
    z-index: 0;
}

.dog_logo {
    width: 50px;
    height: 50px;
}
#the_whole{
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    font-size: 20px;
}

#new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-decoration: underline;
    color: rgb(70, 17, 105);
    font-size: 25px;
}

.username{
    letter-spacing: 1px;   
    padding-left: 5px;
}
.username *{
    margin-left: 10px;
}

.password{
    letter-spacing: 2px;   
    padding-left: 5px;
}
.password *{
    margin-left: 10px;
}


.the_await_request_dom {
    width: 95vw;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    z-index: 100;
    border-radius: 20px;
    
}
.the_await_request_dom_other{
    width: 95vw;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    z-index: 100;
    border-radius: 20px;
}
.the_await_request_dom > div {
    font-size: 22px;
    background-color: white;
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.error_dom{
    width: 30vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: red;
    border-radius: 10px;
    padding: 10px;
}
