body {
    margin: 0;
    transition-property: background-image;
    transition-duration: 1s;
}

.page_name {
    font-family: bold;
    margin: 40px 0px 40px 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

#login_input_wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

input {
    width: 40vw;
    height: 50px;
    font-size: 25px;
}

.slogan {
    margin: 20px;
    font-size: 15px;
}

nav li {
    font-size: 25px;
}

p {
    margin: 0px 0px 0px 0px;
    font-size: 15px;

}

.label {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.login_button {
    width: 15vw;
    height: 50px;
    font-size: 25px;

}

.register_button {
    width: 15vw;
    height: 50px;
    font-size: 25px;

}

a {
    color: white;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


#new {
    margin: 10px;
    color: white;
    font-size: 15px;
}


@media screen and (max-width: 1730px) {
    .login_button {
        width: 25vw;
        height: 50px;
        font-size: 25px;
    }

    .register_button {
        width: 25vw;
        height: 50px;
        font-size: 25px;
    }


    input {
        width: 50vw;
        height: 50px;
        font-size: 25px;
    }
}


@media screen and (max-width: 500px) {
    .login_button {
        width: 35vw;
        height: 5vh;
        font-size: 25px;
    }

    .register_button {
        width: 35vw;
        height: 5vh;
        font-size: 25px;
    }

    .username {
        width: 91vw;
        height: 30px;
        font-size: 20px;
    }

    .password {
        width: 91vw;
        height: 30px;
        font-size: 20px;
    }
}




@media screen and (max-height: 1000px) {
    .login_button {
        width: 35vw;
        height: 6vh;
        font-size: 25px;
    }

    input {
        width: 55vw;
        height: 5vh;
        font-size: 25px;
    }
}


@media screen and (max-height: 825px) {
    .login_button {
        width: 35vw;
        height: 10vh;
        font-size: 25px;
    }

    input {
        width: 55vw;
        height: 5vh;
        font-size: 25px;
    }
}


@media screen and (max-height:750px) {
    .login_button {
        width: 50vw;
        height: 50px;
        font-size: 20px;
    }

    .register_button {
        width: 50vw;
        height: 50px;
        font-size: 20px;
    }

    input {
        width: 55vw;
        height: 50px;
        font-size: 25px;
    }

    .error_dom {
        height: 20%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 700px) {
    .error_dom {
        width: 50%;
    }
}

@media screen and (max-width: 420px) {
    .error_dom {
        width: 70%;
    }
}

@media screen and (max-width: 280px) {
    .error_dom {
        width: 89%;
    }
}