body {
    margin: 0;
}

.page_name {
    margin: 40px 0px 40px 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#login_input_wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 40vw;
    height: 5vh;
    font-size: 25px;
}

.slogan {
    margin: 40px;
    font-size: 25px;
}

p {
    margin: 40px 0px 40px 0px;
    font-size: 24px;
}

.label {
    font-size: 25px;
}

.login_button {
    width: 15vw;
    height: 5vh;
    font-size: 25px;
    
}


footer {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#new{
    margin: 30px;
}

.await_dom {
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.await_dom_innertext{
    width: 10vw;
    height: 20%;
    background-color: white;
    font-size: 25px;
    color: black;
    border-radius: 20px;
}




@media screen and (max-width: 1730px) {
    .login_button {
        width: 25vw;
        height: 5vh;
        font-size: 25px;
    }

    input {
        width: 50vw;
        height: 5vh;
        font-size: 25px;
    }
  }


  @media screen and (max-width: 500px) {
    .login_button {
        width: 35vw;
        height: 5vh;
        font-size: 25px;
    }

    .username {
        width: 91vw;
        height: 6vh;
        font-size: 25px;
    }

    .password {
        width: 91vw;
        height: 6vh;
        font-size: 25px;
    }
  }



  
@media screen and (max-height: 1000px) {
    .login_button {
        width: 35vw;
        height: 6vh;
        font-size: 25px;
    }

    input {
        width: 55vw;
        height: 5vh;
        font-size: 25px;
    }
  }


  @media screen and (max-height: 825px) {
    .login_button {
        width: 35vw;
        height: 10vh;
        font-size: 25px;
    }

    input {
        width: 55vw;
        height: 5vh;
        font-size: 25px;
    }
  }


  @media screen and (max-height:700px) {
    .login_button {
        width: 45vw;
        height: 11vh;
        font-size: 25px;
    }

    input {
        width: 55vw;
        height: 5vh;
        font-size: 25px;
    }
  }