.quiz_page_nav {
    width: 90vw;
    border-radius: 20px;
}
#the_whole{
    position: relative;
}
.log_out_button {
    border: 1px solid black;
    border-radius: 20px;
    width: 15%;
    height: 3.5vh;
    background-color: rgb(233, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    flex-direction: column;
    margin-bottom: 40px;
}
.quiz_page_nav{
    background-color: rgba(255, 255, 255, 0);
}
#log_out_wrapper{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#log_out_wrapper > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 5vh;
    background-color: white;
    border-radius: 20px;
}
#quiz_page_quiz_wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image_box {
    margin-top: 50px;
    width: 30%;
    height: 500px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quiz_box_wrapper {
    margin-top: 10px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 85%;
    height: 100px;
    gap: 5px;
    
}

.quiz_box {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(107, 106, 106);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#log_out_wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#log_out_wrapper > div{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    
}

.winner_div{
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 209, 145);
    font-size: 28px;
    border-radius: 20px;
   
    position: absolute;
    bottom: center;
    left: center;
    margin-bottom: 50px;
}

.winner_div >:nth-child(1) {
    color: black;
}

.one_more{
    margin-top: 20px;    
    width: 90%;
    height: 35%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.loser_div{
    width: 380px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 127, 127);
    font-size: 28px;
    border-radius: 20px;
   
    position: absolute;
    bottom: center;
    left: center;
    margin-bottom: 50px;
}

.winner_div >:nth-child(1) {
    color: black;
}


.namn{
    font-size: 25px;
}


@media screen and (max-width: 1266px){
    .log_out_button {
        width: 27%;
    }
    
    .image_box{
        height: 400px;
    }
}

@media screen and (max-width: 944px){
    .image_box{
        height: 300px;
        width: 400px;
    }
}
@media screen and (max-width: 659px){
    .log_out_button {
        width: 40%;
    }
}

@media screen and (max-width: 426px){
    .log_out_button {
        width: 50%;
    }
    #log_out_wrapper > div{
        width: 80%;
    }
    .image_box{
        height: 250px;
        width: 300px;
    }

    .page_name{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .winner_div{
        width: 280px;
    }
    .loser_div{
        width: 280px;
    }
}

