body {
    margin: 0;
}

.page_name {
    margin: 40px 0px 40px 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#login_input_wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 40vw;
    height: 5vh;
    font-size: 25px;
}

.slogan {
    margin: 40px;
    font-size: 25px;
}

p {
    margin: 40px 0px 40px 0px;
    font-size: 24px;
}

.label {
    font-size: 25px;
}

.register_button {
    width: 15vw;
    height: 5vh;
    font-size: 25px;
    
}


footer {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#new{
    margin: 30px;
}






@media screen and (max-width: 1730px) {
    .register_button {
        width: 25vw;
        height: 5vh;
        font-size: 25px;
    }

    input {
        width: 50vw;
        height: 5vh;
        font-size: 25px;
    }
  }


  @media screen and (max-width: 500px) {
    .register_button {
        width: 35vw;
        height: 5vh;
        font-size: 25px;
    }

    .username {
        width: 91vw;
        height: 6vh;
        font-size: 25px;
    }

    .password {
        width: 91vw;
        height: 6vh;
        font-size: 25px;
    }
  }



  
@media screen and (max-height: 1000px) {
    .register_button {
        width: 35vw;
        height: 6vh;
        font-size: 25px;
    }

    input {
        width: 55vw;
        height: 5vh;
        font-size: 25px;
    }
  }


  @media screen and (max-height: 825px) {
    .register_button {
        width: 35vw;
        height: 10vh;
        font-size: 25px;
    }

    input {
        width: 55vw;
        height: 5vh;
        font-size: 25px;
    }
  }


  @media screen and (max-height:700px) {
    .register_button {
        width: 45vw;
        height: 11vh;
        font-size: 25px;
    }

    input {
        width: 55vw;
        height: 5vh;
        font-size: 25px;
    }
  }